<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h5>André Monteiro</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2 class="mb-4">RxJS Playground</h2>
      <p>
        Go to <b>AppComponent.ts</b> and add the function you want to run to
        <b>ngOnInit</b>.
      </p>
      <p>The logs will appear in the column to the side.</p>
      <p>
        If the function needs any trigger, add your own button triggers at the
        start of the function.
      </p>
      <p>
        For a full example, I recommend reading the method <b>oruSwitchMap</b>.
      </p>
      <hr />
      <h3 class="mt-5 mb-3">Triggers</h3>
      <button class="btn btn-dark mr-3" (click)="window.location.reload()">
        Reload
      </button>
      <button
        class="btn btn-dark mr-3"
        *ngFor="let btn of buttons"
        (click)="btn.value = !btn.value"
      >
        {{ btn.text }}
      </button>
    </div>
    <!-- <div class="col-md-5">
      <h2>Tests</h2>
      <hr />
      <ng-container *ngFor="let test of tests">
        <button (click)="runTest(test.function)" class="btn btn-dark mb-3 mr-3">
          {{ test.name }}
        </button>
      </ng-container>
      <button
        *ngFor="let button of buttons"
        (click)="button.value = !button.value"
      >
        {{ button.text }}
      </button>
    </div> -->
    <div class="col-md-6">
      <app-logs></app-logs>
    </div>
  </div>
</div>
